@import "styles/variables";
@import "styles/breakpoints";

.projects {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__project {
        width: 100%;
        background-color: $dark-background;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        position: relative;

        @include for-desktop-only {
            width: 30vw;
            max-height: 30vw;
        }

        @include for-tablet-only {
            width: 45vw;
            max-height: 45vw;
        }

        &__figure {
            overflow: hidden;
            max-width: 100%;
            width: 100%;
            height: 100vw;

            @include for-tablet-and-desktop {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include for-desktop-only {
                width: 30vw;
                max-height: 30vw;
            }

            @include for-tablet-only {
                width: 45vw;
                max-height: 45vw;
            }

            &__title {
                @include for-tablet-and-desktop {
                    display: none;
                }
            }

            &__desktopCover {
                display: none;

                @include for-tablet-and-desktop {
                    position: absolute;
                    display: block;
                    z-index: 3;
                    background-color: $cover-color;
                    border: 1px solid $dark-background;
                }

                @include for-desktop-only {
                    height: $desktopCover-dimension-desktop;
                    width: $desktopCover-dimension-desktop;
                }

                @include for-tablet-only {
                    height: $desktopCover-dimension-tablet;
                    width: $desktopCover-dimension-tablet;
                }

                &__name {
                    display: none;

                    @include for-tablet-and-desktop {
                        display: flex;
                        justify-content: center;
                        height: 65%;
                        align-items: center;
                        font-size: 30px;
                        font-weight: bold; 
                        font-family: $montserrat-style;
                    }

                    @include for-desktop-only {
                        font-size: 50px;
                    }

                    @include for-desktop-only {
                        font-size: 40px;
                    }
                }
            }

            &__button {
                padding:8%;
                padding-top: 30vw;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100vw;
                width: 100vw;
                z-index: 3;
                border: none;
                font-family: $montserrat-style;
                font-size: 30px;
                font-weight: bold;
                opacity: 100%;
                background-color: $cover-color;
                border: solid 1px rgb(27, 27, 26);

                &:hover .projects__project__body {
                    @include for-desktop-only {
                        display: block;
                        transform: translateX(300px);
                        z-index: 3;
                        opacity: 100%;
                    }
                }

                @include for-tablet-and-desktop {
                    background-color: $cover-color;
                    padding: 0;
                    border: 1px solid $dark-hot-theme;
                    

                    &:hover .projects__project__figure__button__text {
                        color: white;
                        font-size: 23px;
                    }

                    &:hover {
                        background-color: $dark-hot-theme;
                    }

                }

                @include for-desktop-only {
                    height: 60px;
                    width: 250px;
                    transform: translateY(60px);
                }

                @include for-tablet-only {
                    height: 60px;
                    width: 70%;
                    transform: translateY(60px);
                }

                &__img {
                    transition: transform 0.5s ease-in-out;

                    @include for-tablet-and-desktop {
                        display: none;
                    }
                }

                &__imgFlipped {
                    transform: rotate(180deg) translate(-190%, -33vw) scale(0.5);
                    opacity: 100%;

                    @include for-tablet-and-desktop {
                        display: none;
                    }
                }

                &__text {
                    display: none;

                    @include for-tablet-and-desktop {
                        display: block;
                        color: $dark-hot-theme;
                        font-size: 20px;
                        font-family: $sono-style;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            &__link {
                display: block;
                height: 100vw;
                width: 100vw;
                z-index: 3;
            }

            &__buttonHide {
                z-index: 3;
                opacity: 20%;

                @include for-tablet-and-desktop {
                    opacity: 100%;
                }
            }

            &__titleHide {
                opacity: 0;
            }

        }

        &__img {
            position: relative;
            display: block;
            transition: transform 0.5s ease-in-out;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transform-origin: center center;
            max-width: 100%;
            width: 100%;
            height: 100vw;
            max-height: 100vw;
            background-size: cover;
            z-index: 2;

        }

        &:hover .projects__project__img {
            transform: scale(1.1);
        }
        
        &__body {
            display: flex;
            flex-direction: column;
            margin: 0 5%;
            transition: transform 0.5s ease-in-out;
            opacity: 0;
            z-index: 1;

            @include for-phone-only {
                position: absolute;
            }

            @include for-tablet-and-desktop {
                position: absolute;
                transform: translateY(-120%);
            }

            &__close {
                display: none;

                @include for-tablet-and-desktop {
                    display: flex;
                    background-color: $darker-background;
                    border: none;
                    justify-content: end;
                    width: 30px;
                    margin-right: 0;
                    margin-left: 85%;
                }
            }

            &__closeIcon {
                @include for-tablet-and-desktop {
                    color: white;
                    font-size: 25px;
                    font-family: $montserrat-style;
                    margin-right: 5%;
                    
                }
            }

            &__title {
                margin: 25px 10px 25px 10px;
                font-weight: bold;
                font-family: $montserrat-style;
                color: $dark-hot-theme;
            }
    
            &__description {
                margin: 0 10px 25px 10px;
            }

            &__stackTitle {
                margin: 0 10px 25px 10px;
                font-weight: bold;
                font-family: $montserrat-style;
                color: $dark-hot-theme;
            }

            &__stackList {
                margin: 0 10px 25px 10px;
                display: flex;
            }
    
            &__links {
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &__link {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 5px;
                    height: 40px;
                    width: 170px;
        
                    &__img {
                        width: 30px;
                        height: 30px;
                    }
    
                    &__text{
                        text-decoration: none;
                        margin-left: 10px;
                    }
                }
            }
        }

        &__bodyShow {
            @include for-phone-only {
                opacity: 100%;
                position: relative;
            }

            @include for-tablet-and-desktop {
                display: block;
            }
        }

        &__bodyModal {
            @include for-tablet-and-desktop {
                position: fixed;
                z-index: 5;
                border: solid 1px rgb(27, 27, 26);
                padding: 2rem;
                overflow-y: auto;
                background-color: $darker-background;
                opacity: 100%;
            }

            @include for-desktop-only {
                top: 100%;
                left: 30%;
                width: 30%;
                height: 65%;
            }

            @include for-tablet-only {
                top: 100%;
                left: 12%;
                width: 60%;
                height: 65%;
            }
        }

    }

    .modalBackground {
        display: none;

        @include for-tablet-and-desktop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 60%;
            z-index: 4;
            border: none;
        }

        &__show {
            @include for-tablet-and-desktop {
                display: block;
            }
        }
    }
}