@import "styles/variables";
@import "styles/breakpoints";

.projects {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__project {
        width: 100%;
        background-color: $dark-background;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        position: relative;

        @include for-desktop-only {
            width: 80%;
        }

        &__figure {
            overflow: hidden;
            max-width: 100%;
            width: 100%;
            height: 100vw;

            &__button {
                padding:8%;
                padding-top: 30vw;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100vw;
                width: 100vw;
                z-index: 3;
                border: none;
                font-family: $montserrat-style;
                font-size: 30px;
                font-weight: bold;
                opacity: 100%;
                background-color: rgb(62, 62, 62);
                border: solid 1px rgb(27, 27, 26);

                &__img {
                    transition: transform 0.5s ease-in-out;
                }

                &__imgFlipped {
                    transform: rotate(180deg);
                }

            }

            &__buttonHide {
                transform: translateY(35vw);
                z-index: 1;
            }

            &__titleHide {
                opacity: 0;
            }

        }

        &__img {
            position: relative;
            display: block;
            transition: transform 0.5s ease-in-out;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transform-origin: center center;
            max-width: 100%;
            width: 100%;
            height: 100vw;
            max-height: 100vw;
            background-size: cover;
            z-index: 2;

        }

        &:hover .projects__project__img {
            transform: scale(1.1);
        }
        
        &__body {
            transform: translateY(35vw);
            display: flex;
            flex-direction: column;
            margin: 0 5%;
            transition: transform 0.5s ease-in-out;
            opacity: 0;
            position: absolute;
            z-index: 1;

            &__title {
                margin: 25px 10px 25px 10px;
                font-weight: bold;
                font-family: $montserrat-style;
                color: $dark-hot-theme;
            }
    
            &__description {
                margin: 0 10px 25px 10px;
            }

            &__stackTitle {
                margin: 0 10px 25px 10px;
                font-weight: bold;
                font-family: $montserrat-style;
                color: $dark-hot-theme;
            }

            &__stackList {
                margin: 0 10px 25px 10px;
                display: flex;
            }
    
            &__links {
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &__link {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 5px;
                    height: 40px;
                    width: 100%;
        
                    &__img {
                        width: 30px;
                        height: 30px;
                    }
    
                    &__text{
                        text-decoration: none;
                        margin-left: 10px;
                    }
                }
            }
        }

        &__bodyShow {
            opacity: 100%;
            position: relative;
        }


    }
}