@import "styles/variables";
@import "styles/breakpoints";

main {
    min-height: calc(100vh - 210px);
}

.presentation {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;

    &__introduction {
        width: 100%;
    }

    &__title {
        margin: 15px 0;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        color: white;
        font-family: $montserrat-style;
    }

    &__titleColor {
        color: $dark-hot-theme;
    }

    &__topics {
        font-family: $montserrat-style;
        font-weight: bold;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }

    &__detail {

        &__square {
            display: block;
            width: 10px;
            height: 10px;
            background-color: white;
            rotate: 45deg;
            transform: translate(3px, 3px);
        }

        &__verticalLine {
            display: block;
            margin: 0 auto;
            width: 2px;
            height: 100%;
            background-color: white;
        }
    }

    &__story {
        display: flex;
        margin: 40px 0;

        &__body {
            margin-left: 15px;

            &__text {
                text-align: left;
                color: white;
            }
        }
    }

    &__education {
        margin: 0 10px 10px 10px;

        &__title {
            font-weight: bold;
            font-size: 20px;
        }

        &__list {
            margin: 10px 0;

            &__item {
                margin: 5px 0;

                &__link {
                    text-decoration: none;
                }
            }
        }
    }
}