@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

$dark-background: hsl(0, 0%, 12%);
$lighter-background: hsl(0, 0%, 21%);
$darker-background: #0a0a0b;
$cover-color: rgb(62, 62, 62);
$grey: #585858;
$ligther-grey: #dfdfdf;
$dark-cold-theme: #0081A7;
$ligth-hot-theme: #FED9B7;
$dark-hot-theme: #f38780;
$desktopCover-dimension-desktop: calc(30vw - 2px);
$desktopCover-dimension-tablet: calc(45vw - 2px);
$montserrat-style: 'Montserrat', sans-serif;
$sono-style: 'Sono', sans-serif;