@import "styles/variables";
@import "styles/breakpoints";

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darker-background;

    &__container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-phone-only {
            justify-content: center;
        }

        &__content {
    
            @include for-phone-only {
                display: none;
            }

            &__text {
                width: 100%;
                display: flex;
                justify-content: center;
                font-family: $sono-style;
                color: white;
            }
        }
    
        &__logos {
            display: flex;
            justify-content: space-around;
            width: 130px;
    
            &__img {
                width: 30px;
                height: 30px;
            }
        }
    }
}