@import "styles/variables";
@import "styles/breakpoints";

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $darker-background;

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}